<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="GELF" class="de.appelgriepsch.logback.GelfAppender">
        <server>${GRAYLOG_SERVER}</server>
        <port>${GRAYLOG_PORT}</port>
        <protocol>UDP</protocol>
        <includeSource>true</includeSource>
        <includeMDC>true</includeMDC>
        <queueSize>500</queueSize>
        <connectTimeout>1000</connectTimeout>
        <reconnectDelay>500</reconnectDelay>
        <additionalFields>app=${GRAYLOG_APP}</additionalFields>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%5p [%8c] - %m</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="GELF"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>
